<template>
  <div class="container">
    <Api />
    <h1>Pokémones</h1>
    <table id="pokemonesTable" class="table table-bordered mt-5">
      <thead>
        <tr>
          <th>Pokémon</th>
        </tr>
      </thead>
    </table>
  </div>
</template>

<script>
import axios from 'axios'
import $ from "jquery"

export default {
  name: 'App',
  data() {
    return {
      pokemones: {}
    }
  },
  async created() {
    try {
      let response = await axios.get(
        "https://pokeapi.co/api/v2/pokemon", {
        params: {
          offset: 0,
          limit: 1154
        }
      })
      this.pokemones = response.data
      $("#pokemonesTable").DataTable({
        data: this.pokemones.results,
        columns: [
          { data: "name" },
        ],
        iDisplayLength: 10,
        aLengthMenu: [
          [10, 15, 25, 50, 75, 100, -1],
          [10, 15, 25, 50, 75, 100, "Todos"],
        ],
        language: {
          lengthMenu: "Mostrar _MENU_ regisitros por página",
          zeroRecords: "No se ha podido encontrar nada",
          info: "Mostrando página _PAGE_ de _PAGES_. Total _MAX_ registros",
          infoEmpty: "No hay registros disponibles",
          infoFiltered: `"(filtro de _MAX_ total registros)"`,
          search: "Buscar:",
          paginate: {
            first: "Primero",
            last: "Último",
            next: "Siguiente",
            previous: "Anterior",
          },
        },
        //select: 'single',
        /*columnDefs: [{
          "targets": 2,
          "data": "download_link",
          "render": function (data) {
            return `<a href="/permisos/role/${data}" class="btn btn-success">Editar</a>`;
          }
        }]*/
      })
    } catch (e) {
      console.log(e)
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

thead {
  text-align: center;
}

th {
  text-align: center;
}
</style>
